body {
  display: flex;
  flex-direction: column;
  justify-contents: center;
  align-items: center;
}

#sections-container {
  width: 767px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-contents: center;
  background-color: red;
}
